# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env

# logs
logs/
*.log

# OS files
.DS_Store

# build
dist/
build/

# backend specific
backend/node_modules/
backend/.env

# frontend (optional)
frontend/node_modules/
frontend/build/